* {
  margin: 0;
}

.app {
  background-color: #eeebeb;
  height: 100%;
}

.app__header {
  position: sticky;
  top: 0;
  background: white;
  object-fit: contain;
  padding-left: 75px;
  padding-right: 75px;
  padding-top: 5px;
  border-bottom: 1.3px solid lightgray;
  display: flex;
  align-items: center;
  z-index: 10;
}

.app__header .app__headerImage {
  width: 170px;
}

.searchForm {
  position: relative;
  margin: auto;
  /* width: 30%; */
}

input {
  width: 160px;
  padding: 6px 20px;
  background: #faf9f9;
  border: 0.5px solid #b4afaf;
  border-radius: 3%;
}

.searchBarInput::placeholder {
  text-align: center;
  letter-spacing: 0.04rem;
  font-size: 12px;
}

.searchIcon {
  position: absolute;
  padding: 2px;
  color: #858080;
  display: flex;
  align-items: center;
  align-self: center;
  right: 10px;
  top: 3px;
}

.modal__headerImage {
  width: 150px;
}

.app__signup {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.signup_input {
  /* margin-top: 20px; */
}

.signup_input::placeholder {
  text-align: left !important;
  font-size: 17px !important;
  letter-spacing: 0.1rem;
}

.signInButton {
  right: 10px;
}

.signInLabelImg {
  width: 70px;
}

.signInLabelText {
  font-size: 11px;
  text-align: justify;
  line-height: 0.7rem;
  letter-spacing: 0.01rem;
  width: 95%;
}

.signInLabel {
  display: flex;
  align-items: center;
}

.header_icons {
  position: absolute;
  right: 19%;
  top: 15px;
}
.header_icons .header_icon {
  color: #000 !important;
  margin-right: 10px;
}
.header_icons .header_icon:hover {
  color: #e41c47 !important;
}
.account-wrap {
  display: flex;
}
.account-wrap .img-wrap {
  height: 40px;
  width: 40px;
  background: #e41c47;
  border-radius: 50%;
  line-height: 40px;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}
.account-icon-button {
  padding: 7px !important;
}
.account-name {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.account-wrap .img-wrap img {
  width: 100%;
}
.menu-nav .MuiPaper-root {
  top: 60px !important;
}
.upload_message {
  max-width: 581px;
  background: white;
  margin: auto;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  /* height: 250px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  padding-bottom: 25px;
  padding-top: 20px;
}

.upload_message h3 {
  text-transform: uppercase;
  margin: auto;
  letter-spacing: 0.05rem;
  margin-bottom: 10px;
}

.upload_message p {
  font-size: 14.4px;
  width: 95%;
  margin: auto;
  text-align: justify;
  line-height: 1.3rem;
}

.upload_signInButton {
  width: 100px;
  align-self: center;
  top: 8px;
  /* top: 10px; */
}

@media (max-width: 1320px) {
  .header_icons {
    display: none;
  }
}

@media (max-width: 800px) {
  .app__header {
    padding-right: 10px;
    padding-left: 10px;
  }

  .searchForm {
    display: none;
  }

  .signupButton {
    position: relative;
    /* float: right; */
    left: 28%;
  }

  .signOutButton {
    left: 55%;
  }
}

@media (max-width: 600px) {
  .upload_message {
    width: 90%;
  }
}

/* Cart */
.cart-modal .cart-inner {
  width: 400px;
  height: 570px;
}
.cart-head {
  display: flex;
  justify-content: space-between;
}
.cart-head .count {
  padding-top: 7px;
}
ul.items {
  list-style: none;
  padding: 0;
  overflow-y: scroll;
  height: 360px;
  border-bottom: 1px solid #f50057;
  margin-bottom: 5px;
}
.cart-item {
  display: flex;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  color: #fff;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #c0c0c0;
}
li.cart-item .right {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.cart-item-img {
  width: 100%;
}
.cart-item-img img {
  width: 100%;
}
.detail-wrap {
  display: flex;
}
li.cart-item .right .message {
  margin-bottom: 10px;
}
.checkout .promotion {
  width: 100%;
}
.promotion input {
  width: 120px !important;
  margin-top: 5px;
}
section.checkout {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.promotion button {
  color: #f50057;
  background: #fff;
  border: 1px solid #d6d6d6;
  padding: 7px 11px;
  margin-top: 7px;
  border-radius: 5px;
  cursor: pointer;
}
.summary ul {
  padding: 0;
  list-style: none;
  margin-bottom: 5px;
}
span.paypic-wrap {
  width: 70px;
  margin-right: 5px;
}
span.paypic-wrap img {
  width: 100%;
}
.proceed-checkout button:first-child {
  margin-bottom: 10px;
}

/* Profile page */
.user-profile {
  font-size: 15px;
  font-family: Roboto, Lato, "Helvetica Neue", Arial, sans-serif;
  max-width: 1300px;
  margin: 30px auto;
}
.user-profile .card .card-header .profile_img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin: 10px auto;
  border: 10px solid #ccc;
  border-radius: 50%;
  color: white;
}
.update-info {
  margin-top: 20px;
}
.card {
  border: 1px solid #eee;
  border-radius: 7px;
  padding: 15px;
  margin: 5px;
}
.shadow-sm {
  box-shadow: 2px 2px 3px 0px #00000060;
}
.text-center {
  text-align: center;
}
.user-profile .card-header h3 {
  color: #46494c;
}
.mb-0 {
  margin-bottom: 10px;
}
.card-body {
  margin: 10px;
}
.frnd-item {
  display: flex;
  margin-bottom: 10px;
}
.frnd-image {
  width: 65px;
  height: 65px;
  border-radius: 100%;
  border: 1px solid #eee;
  overflow: hidden;
  margin-right: 10px;
}
.frnd-image img {
  width: 100%;
}
.frnds-list {
  width: 320px;
  border-right: 1px solid #cacaca;
  overflow-y: scroll;
}
.message-wrap {
  max-width: 900px;
  margin: 25px auto 0;
  padding: 15px;
  border: 1px solid #eee;
  display: flex;
  max-height: 590px;
}
.message-box {
  width: 100%;
}
.msg-item {
  width: 100%;
  overflow-y: scroll;
  height: 90%;
}
.msg-row-l {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.msg-row-r {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}
.msg-pp {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.msg-pp img {
  width: 100%;
}
.msg-msg {
  display: flex;
  flex-direction: column;
}
.msg-row-r .msg-time {
  text-align: right;
}
span.msg-message {
  background: #efefef;
  border-radius: 10px;
  padding: 5px 10px;
}
.msg-row-l .msg-pp {
  margin-right: 10px;
}
.msg-row-l .msg-pp {
  margin-right: 10px;
  margin-left: 10px;
}
.msg-row-r .msg-msg {
  margin-left: 10px;
  margin-right: 10px;
}
.frnd-item > span {
  display: flex;
  flex-direction: column;
}
.frnd-item .latest-msg {
  width: 140px;
  height: 25px;
  overflow: hidden;
  font-weight: 500;
}
.msg-row-r,
.msg-row-r {
  margin: 10px 0;
}
.message-now {
  position: relative;
}
.message-now .message_input {
  width: 95%;
  margin: 15px 10px 0;
  border: 1px solid #d6d6d6;
  border-radius: 20px;
  padding: 0 14px;
  height: 40px;
}
input.message_input:focus-visible {
  outline: 0;
}
.message-now .send-icon {
  position: absolute;
  right: 5px;
  top: 25px;
}
/* notification */

.notification-icon-wrap {
}
.notification-box {
  transition: all 1s ease-in-out;
  position: absolute;
  top: 0;
  right: 0;
  background: #fff;
  opacity: 0;
  display: none;
  opacity: 1;
}
.notification-box.show {
  display: inline-block;
  position: absolute;
  top: 40px;
  background: #fbfbfb;
  margin: 0;
  width: 330px;
  box-shadow: 0 1px 2px 1px #0006;
}
.notif-inner {
  max-height: 300px;
  overflow-y: scroll;
  padding: 0 10px;
}
.notif-head {
  padding: 5px 15px;
  border-bottom: 1px solid #cecece;
  margin-bottom: 10px;
}
.notifscore {
  display: flex;
  margin-bottom: 10px;
}
.notifscore .msg-pp {
  margin-right: 7px;
}
.story__item h6 {
  text-align: center;
}
